blinker==1.4
factory-boy==2.6.0
fake-factory==0.5.3
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-Script==2.0.5
Flask-Security==1.7.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
itsdangerous==0.24
passlib==1.6.5
WTForms==2.1
