<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Greengenes</title>
{% block head %}
{% end %}
    </head>
    <body>
        <div style="color:red">{{ loginerror }}</div>
        <form method="post" action="/auth/login/">
            <table width="30%">
                <tr><td>Username</td><td><input type="text" id="user" name="user"></td></tr>
                <tr><td>Password</td><td><input type="password" id="password" name="password"></td></tr>
                <tr><td colspan="2"><input type="submit" value="Log In"></td></tr> 
            </table>
        </form>
        <div class="content">
{% block content %}
{% end %}
        </div>
    </body>
</html>
